:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --secondary-bg-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.title {
  color: var(--title-text-color);
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  border: none;
  font-family: inherit;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover, .button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item {
  height: 44px;
  width: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-list__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 95%;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .modal-icon,
.modal__btn-close:focus .modal-icon {
  fill: var(--accent-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-color);
}

.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--accent-color);
}

.modal-form__label {
  display: inline-block;
  margin-bottom: 4px;
}

.comments {
  margin-bottom: 20px;
}

.form-textarea {
  font-size: 14px;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.policy {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__policy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.policy-check__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form__policy-link {
  color: var(--accent-color);
}

.policy-check__icon {
  fill: transparent;
}

.modal-form__policy-check:checked + .modal-form__policy-text > .policy-check__icon-wrap {
  background-color: var(--accent-color);
  border: none;
}

.modal-form__policy-check:checked + .modal-form__policy-text .policy-check__icon {
  fill: var(--primary-white-color);
}

.modal-form__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__btn {
  padding: 10px 55px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo .logo__item {
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.nav,
.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav,
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .nav,
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav .link.current {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link,
  .nav-list__link {
    position: relative;
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus,
  .nav-list__link:hover,
  .nav-list__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .nav-list__link.current::after {
    position: absolute;
    bottom: -39px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list__link.current::after {
    bottom: -33px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:first-child {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contacts__wrap-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    fill: currentColor;
  }
}

.menu-open__btn {
  border: none;
  background: none;
  padding: 0;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .menu-open__btn {
    display: none;
  }
}

.menu-open__icon {
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open__btn:hover .menu-open__icon,
.menu-open__btn:focus .menu-open__icon {
  fill: var(--accent-color);
}

.burger-menu {
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.menu-close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  padding: 0;
  height: 40px;
}

.menu-close__icon {
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close__btn:hover .menu-close__icon,
.menu-close__btn:focus .menu-close__icon {
  fill: var(--accent-color);
}

.burger-nav__item {
  margin-bottom: 32px;
}

.burger-nav__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.burger-nav .link.current {
  color: var(--accent-color);
}

.burger-contacts__item-tel {
  margin-bottom: 32px;
}

.burger-contacts__item-tel .link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 419px) {
  .burger-contacts__item-tel .link {
    font-size: 28px;
  }
}

.burger-contacts__item-mail {
  margin-bottom: 64px;
}

.burger-contacts__item-mail .link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 419px) {
  .burger-contacts__item-mail .link {
    font-size: 22px;
  }
}

.burger-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-social__item .link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 419px) {
  .burger-social__item .link {
    font-size: 12px;
  }
}

.burger-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.burger-social__item:not(:first-child) {
  margin-left: 10px;
}

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index-images/bg-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index-images/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/index-images/bg-mobile@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/index-images/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index-images/bg-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index-images/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/index-images/bg-tablet@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/index-images/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index-images/bg-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index-images/bg-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/index-images/bg-desktop@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/index-images/bg-desktop@2x.jpg);
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.03em;
  }
}

.hero__button {
  padding: 10px 32px;
}

.features-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.features-list__wrap-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .services-list__item {
    width: 370px;
    margin-right: 30px;
    position: relative;
  }
  .services-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .services-list__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  margin-bottom: -30px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  margin-bottom: 30px;
  background: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.team-list__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-list__wrap {
    padding-bottom: 30px;
  }
}

.team-list__title {
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-list__text {
  margin-bottom: 16px;
}

.social-list__link-team {
  background-color: var(--primary-white-color);
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link-team:hover, .social-list__link-team:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.clients-list {
  margin-bottom: -30px;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-list__item {
  width: calc(100% / 2 - 30px);
  margin-bottom: 30px;
  margin-left: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__item:hover, .clients-list__item:focus-within {
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__item:hover .clients-list__icon,
.clients-list__item:focus-within .clients-list__icon {
  fill: var(--accent-color);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-list__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter-list__item {
    margin-bottom: 0;
  }
}

.filter-list__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.projects-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.projects-list__item {
  margin-bottom: 30px;
}

.projects-list__item:hover, .projects-list__item:focus-within {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .projects-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list__item {
    width: calc(100% / 3 - 30px);
  }
}

.projects-list__description {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.projects-list__item:hover .projects-list__description,
.projects-list__item:focus-within .projects-list__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-list__img-wrap {
  position: relative;
  overflow: hidden;
}

.projects-list__info-wrap {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.projects-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-list__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-contacts {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo .logo__item {
  color: var(--primary-white-color);
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .adress {
  color: var(--primary-white-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

.footer-list__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-social {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    padding-top: 12px;
    margin-right: 93px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-social__title,
.footer-subscribe__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-list__link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link-footer:hover, .social-list__link-footer:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    padding-top: 12px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: left;
  }
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe-form__input {
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
}

.subscribe-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin-right: 12px;
    margin-bottom: 0;
    padding: 15px 16px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.btn__wrap__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.subscribe-form__button {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
}

.btn__icon {
  fill: var(--primary-white-color);
}
/*# sourceMappingURL=main.css.map */