.features-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features-list__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.features-list__wrap-icon {
  @include centered-flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__title {
  @include font($fw: null);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  @include font(14px, null, 1.71);
}
