.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/index-images/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/index-images/bg-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/index-images/bg-tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../images/index-images/bg-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/index-images/bg-desktop.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../images/index-images/bg-desktop@2x.jpg);
    }
  }

  &__title {
    @include font(26px, 900, 1.6, 0.06em);
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      @include font(44px, null, 1.36);
    }
  }
  &__button {
    padding: 10px 32px;
  }
}
