.services {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
}
.services-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.services-list__item {
  @media screen and (min-width: 1200px) {
    width: 370px;
    margin-right: 30px;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.services-list__title {
  @media screen and (min-width: 1200px) {
    @include font($fw: null);
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
