.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn-close {
  @include centered-flex;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__btn-close:hover &,
  .modal__btn-close:focus & {
    fill: var(--accent-color);
  }
}
