@mixin centered-flex {
  display: flex;
  align-items: center;
}

@mixin font($fz: 14px, $fw: 500, $lh: 1.14, $ls: 0.03em) {
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
